<!-- THIS IS WHERE THE PUBLIC PROFILE PAGE FOR A USER WILL BE :) -->

<div class="row">
	<div class="col m6">
		<h3><%=@user_byName.fullName.split.map(&:capitalize).join(' ')%></h3>
		<p class="childElement">@<%=@user_byName.profileName %></p>
		<% if @user_byName != current_user %> 
			<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user_byName), class: "btn btn-flat"%> 
		<%else%>
			<%= link_to	newIdea_path(), :class => "btn btn-flat" do %>
      	Create Idea
   		<% end %>
		<%end%>
	</div>
	<div class="col m6">
		<% if @user_byName.avatar.url.present? %>
      <%= image_tag(@user_byName.avatar.url(:small), class: "right") %> 
    <%end%>
	</div>
</div>
<div class="row">
	<div class="col s6">
		<% if @user_comments.size > 0 %>
			<h5>Comments:</h5>
			<% @user_comments.each do |userComment| %>
				<h6><%= userComment.body %></h6>
			<%end%>
		<%else%>
			<p>User has no comments</p>
		<%end%>

		<% if @user_ideas.size > 0 %>
			<h5>Ideas:</h5>
			<ul>
				<% @user_ideas.each do |userIdea| %>
					<li>
						<%= link_to showIdea_path(userIdea.id) do%>
							<%= userIdea.name %>
						<%end%>
					</li>
				<%end%>
			</ul>
		<%else%>
			<p>User has no Ideas</p>
		<%end%>
	</div>
	<div class="col s6">
		<h5>Friends:</h5>
		<!-- <%= link_to 'Friends', user_friendships_path %> -->
		<% @user_friendships.each do |friendship| %>
		  <% friend = friendship.friend %>
			  <div id="<%= dom_id(friendship) %>" class="friend row">
			    <div class="">
						<%= link_to image_tag(friend.avatar.url(:thumb)), showProfile_path(friend) %>
			    </div>
			    <div class="">
			      <strong><%= friend.fullName %></strong><br />
			        <% if friendship.pending? %>
			          <em>Friendship is pending.</em> <%= link_to "Delete request", edit_user_friendship_path(friendship) %>
			        <% end %>
			        <% if friendship.requested? %>
			          <em>Friendship requested.</em> <%= link_to "Accept friendship", edit_user_friendship_path(friendship) %>.
			        <% end %>
			        <% if friendship.accepted? %>
			          <em>Friendship started <%= friendship.updated_at %>.</em> <%= link_to "Update friendship", edit_user_friendship_path(friendship) %>.
			        <% end %>
			    </div>
			  </div>
		<% end %>
	</div>

</div>