<%= @friend %>
<% if @friend %>
	<h1><%=@friend.profileName%></h1>
	<p> Do you really want to friend <%=@friend.profileName%>?</p>

	<%= form_for @user_friendship, url: url_for( :controller => :user_friendships, :action => :create ), :html => {:method => :post} do |form| %>
		<div class="form form-actions">
			<%= form.hidden_field :friend_id, value: @friend.profileName %>
			<%= submit_tag "Yes, Add Friend", class: 'btn btn-flat' %>
			
		</div>
	<%end%>
<%end%>