<!-- Flashes are used to show the errors on the screen. These are linked with the ideas_controller as well-->
<% if flash[:success] %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong> <%= flash[:success]%> </strong>
	</div>
<% end %>
<% if flash[:error] %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong> <%= flash[:error]%> </strong>
	</div>
<% end %>
<!-- Form For is a rails specific keyword, allowing use of forms in the view that link to the controller -->
<!-- As you can see this form is linked to the add 'action', which can be found in ideas_controller file. -->
<%= simple_form_for(@new_idea,:url=>{:action => "add"} , html: { class: 'form-horizontal' }) do |f| %>
	<div class="">
		<div class="">
		  <div class="caption">
		    <h5><%= f.label :name %>:</h5>
				<%= f.text_field :name %> 
				<!-- AUTHOR BY CURRENT USER -->
		    <h5><%= f.label :Description %>:</h5>
				<%= f.text_field :description %>
				<h5><%= f.label :'Value Proposition' %>:</h5>
				<%= f.text_field :valueProposition %>
				<h5><%= f.label :'Customer Segment' %>:</h5>
				<%= f.text_field :customerSegment %>
				<h5><%= f.label :'Market Size' %>:</h5>
				<%= f.text_field :marketSize %>
				<h5><%= f.label :Resources %>:</h5>
				<%= f.text_field :resources %>
				<h5><%= f.label :Stage %>:</h5>
				<%= f.text_field :stage %>
				<h5><%= f.label :Vision %>:</h5>
				<%= f.text_field :vision %>
				<h5><%= f.label :Sector %>:</h5>
				<%= f.text_field :sector %>

		    <div class="file-field input-field">
		      <input class="file-path validate" type="text"/>
		      <div class="btn">
		        <span>File</span>
		        <input type="file" />
		      </div>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    			<i class="mdi-content-send right"></i>
  			</button>

		  </div>
		</div>
	</div>
<% end %>
