<!-- Flashes are used to show the errors on the screen. These are linked with the ideas_controller as well-->
<% if flash[:success] %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong> <%= flash[:success]%> </strong>
	</div>
<% end %>
<% if flash[:error] %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong> <%= flash[:error]%> </strong>
	</div>
<% end %>
<!-- Form For is a rails specific keyword, allowing use of forms in the view that link to the controller -->
<!-- As you can see this form is linked to the add 'action', which can be found in ideas_controller file. -->
<%= simple_form_for(@idea,:url=>{:action => "add"} ) do |f| %>
	<div class="row">
		<div class="col s12 m10 offset-m1 ">
			<div class="card-panel">
				<div class="row">
					<div class="col s12 m12 l12">
						<div class="row">
							<div class="col s6">
									<%= f.text_field :name, :placeholder => "Name"%> 
							<h6 class="childElement">
								<%= link_to controller: "profiles", action: "showProfile", id: current_user.profileName do %>
									<%=current_user.profileName%>
								<%end%>
							</h6>
							</div>
							<div class="col s6 right">
								<%= image_tag(current_user.avatar.url(:small), :class=>"right") %>
							</div>
						</div>
						<!-- IF THE IDEA HAS A VALUE PROP: PLACE IT HERE -->
							<div class="row">
								<div class="col s11">
									<h3 class="childElement">
										<blockquote>
											<%= f.text_field :valueProposition, :placeholder => "Value Proposition" %>
										</blockquote>
									</h3>
								</div>
							</div>
					</div>
				</div>

				<div class="row">
					<div class="col s12 m12 l4 right align">
						<!-- PUT IDEA PIC HERE -->
							<div class="noPicUpload">
								<!-- <i class="fa fa-picture-o fa-5x bigIcon"></i> -->
								<h3>Upload an Idea Photo! </h3>
								<%= f.file_field :picture %>
							</div>
					</div>
				  <div class="col s12 m12 l7">
				    <ul class="tabs">	
				      	<li class="tab col s4"><a class="" href="#description">Description</a></li> 
				      	<li class="tab col s4"><a href="#customersegment">CustomerSegment</a></li>
				      	<li class="tab col s4"><a href="#vision">Vision</a></li>
				    </ul>
				  </div>
				  <div id="description" class="col s12 l7">
						<div class="descriptionWrapper">
							<%= f.text_area :description, :class => "materialize-textarea", :length =>"120", :placeholder => "Here is a quick description of the Idea" %>
				  	</div>
				  </div>
				  <div id="customersegment" class="col s12 l7">
				  		<%= f.text_area :customerSegment, :class => "materialize-textarea", :length =>"120", :placeholder => "Please input a Customer Segment" %>
				  </div>
				  <div id="vision" class="col s12 l7">
				  		<%= f.text_area :vision, :class => "materialize-textarea", :length =>"120", :placeholder => "What is your long-term vision?" %>
				  </div>
				</div>
				<!-- NOTE 'SECTORS' IS FOUND IN THE IDEAS MODEL -->
				<div class="row">
					<div class="input-field  field col s6">
		    			<%= f.select :sector, Idea::SECTORS, {}, {class: 'browser-default'}%>
		  			</div>
	  			</div>

				<div class="row">
					<div class="right">
					<%= f.submit :value=>"Add Idea", class: "btn addIdeaBtn"%>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
