<!-- This file is the view action for the ideas controller: other actions (add, delete, etc) will get routed to here -->
<title>Shared Ideas App</title>
<h1>Ideas App</h1>
<hr> 
<h3>All my ideas here:</h3>
<!-- Flashes are used to show the errors on the screen. These are linked with the ideas_controller as well-->
<% if flash[:success] %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong> <%= flash[:success]%> </strong>
	</div>
<% end %>

<% if flash[:error] %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong> <%= flash[:error]%> </strong>
	</div>
<% end %>

<!-- This is rails way of doing a for each loop. This goes throguh each item in idea_item and displays its 'name' column -->
<% @idea_item.each do |ideaItem| %>
	<ul>
		<li> 
			<h4><%= ideaItem.name %></h4>
			<h6><%= ideaItem.description %> </h6>
		</li> 
	</ul>
<% end %>

<!-- Form For is a rails specific keyword, allowing use of forms in the view that link to the controller -->
<!-- As you can see this form is linked to the add 'action', which can be found in ideas_controller file. -->
<%= form_for @new_idea, :url=> {:action => "add"} do |f| %> 
	<%= f.label :name %>:
	<%= f.text_field :name %> 
	<%= f.label :description %>:
	<%= f.text_field :description %>
	<%= f.submit "Add Idea", class: "btn btn-primary"%>
<% end %>

<!-- Rails way of adding a button:  -->
<%= button_to "Delete Last Item", delete_path, :class=> "btn btn-danger"%>

<!-- <a href="/ideas/delete"> <button class="btn btn-danger">Delete</button></a>