<!-- Flashes are used to show the errors on the screen. These are linked with the ideas_controller as well-->
<% if flash[:success] %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong> <%= flash[:success]%> </strong>
	</div>
<% end %>
<% if flash[:error] %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong> <%= flash[:error]%> </strong>
	</div>
<% end %>

<h3>My Ideas:</h3>

<div class="row">
	<% @user_idea.each do |ideaItem| %>
	  <div class="col-sm-6 col-md-4 col-lg-3">
	    <div class="thumbnail">
	      <%= image_tag(ideaItem.picture_url, :class => "idea-thumbail-img",) if ideaItem.picture.present? %>
	      <div class="caption">
	        <h3><%= link_to ideaItem.name, showIdea_path(ideaItem.id) %> : <%= ideaItem.id %></h3>
	        <h5><%= ideaItem.author %></h5>
	        <p><%= ideaItem.description %></p>
	        <div class="editIdea"> 
						<% if current_user.email == ideaItem.author %>
							<%= button_to 'Delete Item', delete_path(:user_id => ideaItem.id), data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %>
						<% end %>
					</div>
	      </div>
	    </div>
	  </div>
	<% end %>
	<%= render 'form' %>
</div>
