<h4 class="center"><%= @idea.name %></h3>
<div class="bmcWrapper row showHide">
	<div class="col s12">
		<!-- Top Half of BMC -->
		<div class="row ">

			<!-- KEY PARTNERS -->
			<div class="col s12 m6 l2 keyPartners showHide red">
				<div class="sectionHeader">
					<h5 class="showOnHover">Key Partners</h5>
				</div>
				<div class="sectionBody">
					<% @keyPartners.each do |partner| %>
						<li><%= partner.body %></li>
					<%end%>
				</div>
				<div class="sectionFooter">
				</div>
			</div>
			
			<!-- BREAK UP NEXT COLUMN -->
			<div class="col s12 m6 l2 bmcSection">

				<!-- KEY ACTIVITIES -->
				<div class="row keyActivities showHide blue">
					<div class="col s12">
						<div class="sectionHeader">
							<h5 class="showOnHover">Key Activities</h5>
						</div>
						<div class="sectionBody">
							<% @keyActivities.each do |activity| %>
								<li><%= activity.body %></li>
							<%end%>
						</div>
						<div class="sectionFooter">
						</div>
					</div>
				</div>

				<!-- KEY RESOURCES -->
				<div class="row keyResources showHide green">
					<div class="col s12">
						<div class="sectionHeader">
							<h5 class="showOnHover">Key Resources</h5>
						</div>
						<div class="sectionBody">
							<% @keyResources.each do |resource| %>
								<li><%= resource.body %></li>
							<%end%>
						</div>
						<div class="sectionFooter">
						</div>
					</div>
				</div>
			</div>
			
			<!-- VALUE PROPOSITION -->
			<div class="col s12 m12 l3 bmcSection valueProposition showHide yellow">
				<div class="sectionHeader">
					<h5 class="showOnHover">Value Proposition</h5>
				</div>
				<div class="sectionBody">
					<% @valueProposition.each do |value| %>
						<li><%= value.body %></li>
					<%end%>
				</div>
				<div class="sectionFooter">
				</div>
			</div>
			
			<div class="col s12 m6 l2 bmcSection">

				<!-- CUSTOMER RELATIONSHIPS -->
				<div class="row customerRelationships showHide teal">
					<div class="col s12">
						<div class="sectionHeader">
							<h5 class="showOnHover">Customer Relationships</h5>
						</div>
						<div class="sectionBody">
							<% @customerRelationships.each do |relationship| %>
								<li><%= relationship.body %></li>
							<%end%>
						</div>
						<div class="sectionFooter">
						</div>
					</div>
				</div>

				<!-- CHANNELS -->
				<div class="row channels showHide orange">
					<div class="col s12">
						<div class="sectionHeader">
							<h5 class="showOnHover">Channels</h5>
						</div>
						<div class="sectionBody">
							<% @channels.each do |channel| %>
								<li><%= channel.body %></li>
							<%end%>
						</div>
						<div class="sectionFooter">
						</div>
					</div>
				</div>
			</div>

			<!-- CUSTOMER SEGMENTS -->
			<div class="col s12 m6 l3 customerSegments fullSection showHide amber">
				<div class="sectionHeader">
					<h5 class="showOnHover">Customer Segments</h5>
				</div>
				<div class="sectionBody">
					<% @customerSegments.each do |segment| %>
						<li><%= segment.body %></li>
					<%end%>
				</div>
				<div class="sectionFooter">
				</div>
			</div>
		</div>

		<!-- BOTTOM HALF of BMC -->
		<div class="row">

			<!-- COST STRUCTURE -->
			<div class="col s12 m6 costStructure showHide purple">
				<div class="sectionHeader">
					<h5 class="showOnHover">Cost Structure</h5>
				</div>
				<div class="sectionBody">
					<% @costStructure.each do |cost| %>
						<li><%= cost.body %></li>
					<%end%>
				</div>
				<div class="sectionFooter">
				</div>
			</div>

			<!-- REVENUE STREAMS -->
			<div class="col s12 m6 revenueStreams showHide indigo">
				<div class="sectionHeader">
					<h5 class="showOnHover">Revenue Streams</h5>
				</div>
				<div class="sectionBody">
					<% @revenueStreams.each do |revenue| %>
						<li><%= revenue.body %></li>
					<%end%>
				</div>
				<div class="sectionFooter">
				</div>
			</div>

		</div> <!-- End Row -->
	</div> <!-- End Row -->
</div> <!-- End Row/Wrapper -->
<%= render 'stickies/form'%>
<hr>
