<!-- This file is the view action for the ideas controller: other actions (add, delete, etc) will get routed to here -->
<title>Shared Ideas App</title>

<!-- This is rails way of doing a for each loop. This goes throguh each item in idea_item and displays its 'name' column -->
<!-- THIS IS FOR ALL USERS (NOT LOGGED IN USER) -->
<!-- ALL_IDEA IS DEFINED IN ideas_controller -->
<!-- <% @all_ideas.each do |ideaItem| %>
	<ul>
		<li> 
			<%= image_tag(ideaItem.picture_url, :width => 300) if ideaItem.picture.present? %>
			<h4><%= link_to ideaItem.name, showIdea_path(ideaItem.id) %></h4>
			<h6><%= ideaItem.id %> </h6>
			<h6><%= ideaItem.description %> </h6>
			<h6><%= ideaItem.author %> </h6>
		</li> 
	</ul>
<% end %> -->
<h3>All Ideas:</h3>
<div class="row">
	<% @all_ideas.each do |ideaItem| %>
	  <div class="col-sm-6 col-md-4 col-lg-3">
	    <div class="thumbnail">
	      <%= image_tag(ideaItem.picture_url, :class => "idea-thumbail-img",) if ideaItem.picture.present? %>
	      <div class="caption">
	        <h3><%= link_to ideaItem.name, showIdea_path(ideaItem.id) %> : <%= ideaItem.id %></h3>
	        <h5><%= ideaItem.author %></h5>
	        <p><%= ideaItem.description %></p>
	        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	      </div>
	    </div>
	  </div>
	<% end %>
</div>
