<h3>My Ideas:</h3>
<% @user_idea.each do |ideaItem| %>
	<ul>
		<li> 
			<%= image_tag(ideaItem.picture_url, :width => 300) if ideaItem.picture.present? %>
			<h4><%= ideaItem.name %></h4>
			<h6><%= ideaItem.description %> </h6>
			<h6><%= ideaItem.author %> </h6>
		</li> 
	</ul>
<% end %>


<h3>Add Idea: </h3>
<%= render 'form' %>

<!-- Rails way of adding a button:  -->
<%= button_to "Delete Last Item", deleteLast_path, :class=> "btn btn-danger"%>