<!-- This file is the view action for the ideas controller: other actions (add, delete, etc) will get routed to here -->
<title>Shared Ideas App</title>

<!-- This is rails way of doing a for each loop. This goes throguh each item in idea_item and displays its 'name' column -->
<!-- THIS IS FOR ALL USERS (NOT LOGGED IN USER) -->
<!-- ALL_IDEA IS DEFINED IN ideas_controller -->
<!-- <div class="row showAllWrapper">
	<% @all_ideas.each do |ideaItem| %>
	  <div class="col-sm-6 col-md-4 col-lg-3 thumbnailWrapper showHide">
	    <div class="thumbnail card">
	      <%= image_tag(ideaItem.picture_url, :class => "idea-thumbail-img",) if ideaItem.picture.present? %>
	      <div class="caption">
	        <h3><%= link_to ideaItem.name, showIdea_path(ideaItem.id) %> : <%= ideaItem.id %></h3>
	        <h5><%= ideaItem.author %></h5>
	        <p><%=ideaItem.description%></p>
	      </div>
	    </div>
			<% if current_user.email == ideaItem.author %>
				<%= link_to delete_path(:user_id => ideaItem.id), data: { confirm: 'Are you sure?' }, :class=>"close deleteButton" do %>
					<i class="fa fa-times showOnHover"></i>
				<%end %>
			<% end %>
	  </div>
	<% end %>
</div> -->

<div class="row">
  <% @all_ideas.each do |ideaItem| %>
	  <div class="col-sm-6 col-md-4 col-lg-3 cardWrapper showHide">
	  	<div class="card">
	    	<div class="card-height-indicator"></div>
	    	<div class="card-content">
	    		<% if ideaItem.picture.present? %>
			      <div class="card-image">
		          <%= image_tag(ideaItem.picture_url, :class => "idea-thumbail-img",) %>
			      </div>
	        <% end %>

		      <div class="card-body">
		      	<h3><%= link_to ideaItem.name, showIdea_path(ideaItem.id) %></h3>
		        <h5><%= ideaItem.author %></h5>
		        <p><%=ideaItem.description%></p>
		      </div>

		      <footer class="card-footer">
		      	<%= link_to showIdea_path(ideaItem.id), :class=>"btn btn-flat showOnHover" do %>
							Learn More
						<%end %>
			      <% if current_user.email == ideaItem.author %>
							<%= link_to delete_path(:user_id => ideaItem.id), data: { confirm: 'Are you sure?' }, :class=>"btn btn-flat btn-warning showOnHover" do %>
								Delete
							<%end %>
						<% end %>
		      </footer>
	    	</div>
			</div>
	  </div>
  <% end %>
</div>



<!-- FROM THE kaminari GEM -->
<div class="row">
 	<div class="col-md-12 text-center">
		<div class="pagination_links">
	    <%= paginate @all_ideas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered", :container => false %>
	  </div>
	  <!-- <div class="page_info" style="text-align: center">
	    <%= page_entries_info @all_ideas %>
	  </div> -->
 	</div>
</div>
