<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-6 pull-right">
		<%= image_tag(@idea.picture_url, :class=>"ideaImage pull-right") if @idea.picture.present? %>
	</div>
	<div class="col-sm-8 col-md-6">
		<h2><strong><%= @idea.name %> : <%= @idea.id %></strong></h2>
		<h5 class="childElement">-<%= @idea.author %></h5>
		<h3><strong>Description</strong></h3>
		<h5 class="childElement"><%= @idea.description %></h5>
	</div>
</div>

<div class="row col-md-12">
<hr>
	<h3><strong>Comments</strong></h3>

	<% @comments.each do |comment| %>
		<!-- TODO: move this into a dedicated view -->
		<div>
			<h4>
				<!-- TODO: get the actual username/email via users table -->
				<strong>UID <%= comment.user_id %> says:</strong>
				<%= comment.body %> | 
				<% if current_user.id == comment.user_id %>
						<%= link_to 'Edit', edit_comment_path(comment), :class =>"commentForm btn btn-xs btn-warning"%> 
						<%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"commentForm btn btn-xs btn-danger" %>
				<% end %>
			</h4>
		</div>
	<% end %>
</div>

<div class="row col-md-12">
	<%= render 'comments/form' %>
</div>