<div class="row">
	<div class="col-sm-12">
		<h2>
			<%= @idea.name %> 
		</h2>
		<h6 class="childElement"><%= @idea.author %></h6>

		<!-- IF THE IDEA HAS A VALUE PROP: PLACE IT HERE -->
		<% if @idea.valueProposition != nil%>
			<div class="col-sm-12 ideaValueProp">
				<h3 class="childElement">
					<i class="fa fa-quote-left"></i><%=@idea.valueProposition%><i class="fa fa-quote-right"></i>
				</h3>
			</div>
		<% end %>

	</div>

	<div class="col-xs-12 col-sm-4 col-md-6 pull-right">
		<!-- PUT AUTHOR PROFILE PIC HERE -->
		<% if @idea.picture.present? %>
			<%= image_tag(@idea.picture_url, :class=>"ideaImage pull-right")%>
			<% else %>
			<div class="noPicUpload">
				<i class="fa fa-picture-o fa-5x bigIcon"></i>
			</div>
		<% end %>
	</div>
	<div class="col-sm-8 col-md-6">
		<ul class="nav nav-tabs" role="tablist" id="myTab">
		  <li role="presentation" class="active"><a href="#ideaDescrition" aria-controls="ideaDescrition" role="tab" data-toggle="tab">Description</a></li>
		  <li role="presentation"><a href="#ideaCustomerSegment" aria-controls="ideaCustomerSegment" role="tab" data-toggle="tab">Customer Segment</a></li>
		  <li role="presentation"><a href="#ideaVision" aria-controls="ideaVision" role="tab" data-toggle="tab">Vision</a></li>
		</ul>
		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in active" id="ideaDescrition">
		 		<div class="descriptionWrapper">
		  		<h5><%= @idea.description %></h5>
		  	</div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade in" id="ideaCustomerSegment">
		  	<h5><%=@idea.customerSegment%></h5>
		  </div>
		  <div role="tabpanel" class="tab-pane fade in " id="ideaVision">
		  	<h5><%=@idea.vision%></h5>
		  </div>		
		</div>
	</div>
</div>

<% if @comments.count > 0 %>
<div class="row">
	<div class="col-md-12">
	<hr>
		<h3><strong> <i class="fa fa-comment"></i> Comments</strong></h3>
		<div class="childElement">
			<% @comments.each do |comment| %>
				<!-- TODO: move this into a dedicated view -->
				<div>
					<h4>
						<!-- TODO: get the actual username/email via users table -->
						<strong>UID <%= comment.user_id %> says:</strong>
						<%= comment.body %> 
						<% if current_user.id == comment.user_id %>
							| 
							<%= link_to edit_comment_path(:comment => params[:comment]), :class =>"commentForm" do%>
								<i class="fa fa-pencil-square-o"></i>
							<%end%>
							<%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"commentForm" do%>
								<i class="fa fa-times"></i>
							<% end %>
						<% end %>
					</h4>
				</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>
<div class="row">
	<div class="col-md-6 addComment">
		<h3><strong><i class="fa fa-plus-square-o"></i> Add Comment</strong></h3>
		<%= render 'comments/form' %>
	</div>
	<div class="col-md-6 documents">
		<h3><strong>Documents</strong></h3>
<!-- 		<% if @idea.picture.present? %>
			<%= image_tag(@idea.picture_url, :class=>"ideaImage pull-right")%>
			<% else %> -->
			<div class="noDocDisplay">
				<h3> This Idea has no documents</h3>
				<i class="fa fa-upload"></i> <h4> Upload one here!</h4>
				<!-- <%= simple_form_for(@new_idea,:url=>{:action => "add"} , html: { class: 'form-horizontal' }) do |f| %>
					<%= f.file_field :picture %>
					<%= f.submit "Add picture", class: "btn btn-primary addIdeaBtn"%>
				<% end %> -->
			</div>
		<!-- <% end %> -->
	</div>
</div>