<!-- This file is the view action for the ideas controller: other actions (add, delete, etc) will get routed to here -->
<title>Shared Ideas App</title>
<div class="row">
  <% @all_ideas.shuffle.each do |ideaItem| %>
  	<% if ideaItem.present?%>
	  <div class="col s6 m6 l3">

    	<% if ideaItem.picture.present?%>
    	<!-- IF THE IDEA HAS A PICTURE -->
    		<div class="card card-picture small showHide randomDepth">
	        <div class="card-image waves-effect waves-block waves-light">
	          <%= image_tag(ideaItem.picture_url, :class => "activator") %>
	        </div>
	        <div class="card-content">
	          <span class="card-title grey-text text-darken-4">
		          <h5 class="truncate">
		            <%= link_to showIdea_path(ideaItem.id) do%>
			          	<%= ideaItem.name%>
			          <%end %>
			          <i class="fa fa-angle-up activator right"></i>
			        </h5>
	          </span>
	          <div class="card-author childElement truncate">
	          	<%= ideaItem.author%>
	          </div>
	          <div class="card-img-footer showOnHover">
	          	<%= link_to showIdea_path(ideaItem.id), :class=>"waves-effect waves-red btn-flat right" do%>
	        			<i class="fa fa-trash-o"></i>
	        		<%end%>
		          <%= link_to showIdea_path(ideaItem.id), :class=>"waves-effect waves-red btn-flat right" do%>
		        		<i class="fa fa-eye"></i>
		        	<%end%>
	        	</div>
	        </div>
	        <div class="card-reveal">
	          <span class="card-title grey-text text-darken-4 truncate">
	          	<%= ideaItem.name%> <i class="fa fa-angle-down right"></i>
	          </span>
	          <h6 class="truncate"><%=ideaItem.valueProposition%></h6>
          	<h6 class="truncate"><strong>Customer:</strong> <%=ideaItem.customerSegment%></h6>
          	<strong>Description:</strong><h6 class=""> <%=ideaItem.description%></h6>
	        </div>
	      </div>
    	<%else%>
    		<!-- IF IDEA HAS NO IMAGE -->
        <div class="card small showHide randomDepth">
          <div class=" white-black ">
          	<div class="card-body">
              <span class="card-title grey-text text-darken-4">	
	              <%= link_to showIdea_path(ideaItem.id) do%>
			        		<h5 class="truncate"><%= ideaItem.name%></h5>
			        	<%end%>
              </span>
              <div class="card-author childElement truncate">
	          		<%= ideaItem.author%>
	          	</div>
		          <h6 class="truncate"><%=ideaItem.valueProposition%></h6>
          		<h6 class="truncate"><strong>Customer:</strong> <%=ideaItem.customerSegment%></h6>
          		<h6 class="truncate"><strong>Description:</strong> <%=ideaItem.description%></h6>
        		</div>
        		<div class="card-footer showOnHover">
        			<%= link_to delete_path(ideaItem.id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"waves-effect waves-red btn-flat right" do%>
	        			<i class="fa fa-trash-o"></i>
	        		<%end%>
	        		<%= link_to showIdea_path(ideaItem.id), :class=>"waves-effect waves-red btn-flat right" do%>
		        		<i class="fa fa-eye"></i>
		        	<%end%>
          	</div>
          </div>
        </div>
    	<%end%>
    </div>

    <%else%>
    	<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">No Ideas</span>
              <p>There are currently no ideas. Go add one in the links above!</p>
            </div>
            <div class="card-action">
              <!-- <a href="#">This is a link</a>
              <a href='#'>This is a link</a> -->
            </div>
          </div>
        </div>
      </div>
    <%end%>
  <% end %>
</div>


<!-- FROM THE kaminari GEM -->
<div class="row">
 	<div class="col s12 text-center">
		<div class="pagination_links">
	    <%= paginate @all_ideas, :pagination_class => "pagination-small pagination-centered", :container => false %>
	  </div>
	  <!-- <div class="page_info" style="text-align: center">
	    <%= page_entries_info @all_ideas %>
	  </div> -->
 	</div>
</div>
