<!-- Flashes are used to show the errors on the screen. These are linked with the ideas_controller as well-->
<h3>My Ideas:</h3>

<div class="row">
	<% @user_idea.each do |ideaItem| %>
	  <div class="col-sm-6 col-md-4 col-lg-3">
	    <div class="thumbnail">
	      <%= image_tag(ideaItem.picture_url, :class => "idea-thumbail-img",) if ideaItem.picture.present? %>
	      <div class="caption">
	        <h3><%= link_to ideaItem.name, showIdea_path(ideaItem.id) %> : <%= ideaItem.id %></h3>
	        <h5><%= ideaItem.author %></h5>
	        <p><%= ideaItem.description %></p>
	      </div>
	    </div>
	    <!-- DELETE X: STYLE IS CRAP -->
			<% if current_user.email == ideaItem.author %>
				<%= link_to 'x', delete_path(:user_id => ideaItem.id), data: { confirm: 'Are you sure?' }, :class=>"close deleteButton" %>
			<% end %>
	  </div>
	<% end %>

	<div class="col-sm-6 col-md-4 col-lg-3 thumbnail">		
		<%= render 'quickForm' %>
	</div>
	<!-- FROM THE kaminari GEM -->
	<div class="row">
	 	<div class="col-md-12 text-center">
			<div class="pagination_links">
		    <%= paginate @user_idea, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered", :container => false %>
		  </div>
		  <!-- <div class="page_info" style="text-align: center">
		    <%= page_entries_info @user_idea %>
		  </div> -->
	 	</div>
	</div>
</div>
