<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-6 pull-right">
		<!-- PUT AUTHOR PROFILE PIC HERE -->
		<%= image_tag(@idea.picture_url, :class=>"ideaImage pull-right") if @idea.picture.present? %>
	</div>
	<div class="col-sm-8 col-md-6">
		<h2>
			<%= @idea.name %> 
		</h2>
		<h6 class="childElement"><%= @idea.author %></h6>
		
		<ul class="nav nav-tabs" role="tablist" id="myTab">
		  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
		  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Customer Segment</a></li>
		  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Vision</a></li>
		</ul>
		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in active" id="home">
		 		<div class="descriptionWrapper">
		  		<h5><%= @idea.description %></h5>
		  	</div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade in" id="profile">
		  	.b.
		  </div>
		  <div role="tabpanel" class="tab-pane fade in " id="messages">
		  	.c.
		  </div>		
		</div>
	</div>
</div>

<% if @comments.count > 0 %>
<div class="row">
	<div class="col-md-12">
	<hr>
		<h3><strong>Comments</strong></h3>
		<div class="childElement">
			<% @comments.each do |comment| %>
				<!-- TODO: move this into a dedicated view -->
				<div>
					<h4>
						<!-- TODO: get the actual username/email via users table -->
						<strong>UID <%= comment.user_id %> says:</strong>
						<%= comment.body %> 
						<% if current_user.id == comment.user_id %>
								| 
								<%= link_to 'Edit', edit_comment_path(comment), :class =>"commentForm btn btn-xs btn-warning"%> 
								<%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"commentForm btn btn-xs btn-danger" %>
						<% end %>
					</h4>
				</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>
<div class="row">
	<div class="col-md-6 addComment">
		<h3><strong>Add Comment</strong></h3>

		<%= render 'comments/form' %>
	</div>
	<div class="col-md-6 documents">
		<h3><strong>Documents</strong></h3>
	</div>
</div>