<h4>Edit Account</h4>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= devise_error_messages! %>  
  <div class="row">
    <div class="row">
      <div class="field col s6">
        <%= f.label :email %><br />
        <%= f.email_field :email, :readonly=>true%>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>
      
      <!-- NOT SURE THIS WORK...? -->
      <div class="col s6 center">
        <% if current_user.avatar.url.present? %>
          <%= image_tag(current_user.avatar.url(:medium)) %> 
        <%end%>
        <div class="field">
          <%= f.label :add_avatar %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache%>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s6">
        <div class="field">
          <%= f.label :password %> <i>(Optional)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
      <div class="col s6">
        <div class="field">
          <%= f.label :confirmation %><br />
          <%= f.password_field :confirmation, autocomplete: "off" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="field">
          <%= f.label :current_password %> <i>(To confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update", :class => "btn"%>
    </div>
  </div>
<% end %>
