<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h5>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'New Comment' %><br>
    <%= f.text_area :body, :class => "commentBodyEnter materialize-textarea", :length =>"120"%>
  </div>

	<%= f.hidden_field :user_id, :value => current_user.id %>

  <% if params[:data] %>
    <% @pcid = params[:data]["parent_comment_id"] %>
    <%= f.hidden_field :idea_id, :value => params[:data]["idea_id"] %>
  <% else %>
    <%= f.hidden_field :idea_id %>
  <% end %>

  <%= f.hidden_field :parent_comment_id, :value => @pcid %>
  <div class="actions">
    <%= f.submit "Add Comment", class: "btn red addCommentBtn"%>
  </div>
<% end %>
