<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @sticky.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @sticky.author_id %>
</p>

<p>
  <strong>Section:</strong>
  <%= @sticky.section %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @sticky.stage %>
</p>

<%= link_to 'Edit', edit_sticky_path(@sticky) %> |
<%= link_to 'Back', stickies_path %>
