<!DOCTYPE html>
<html>
	<head>
	  <title>JetApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
    <div class = "wrapper">
      <!-- Dropdown Structure -->
      <ul id="dropDownMainMenu" class="dropdown-content">
        <% if user_signed_in? %>
          <li>
            <%= link_to edit_user_registration_path, :class => '' do%>
              Edit Profile
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, :class => '' do %>
              Sign Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          </li>
        <% end %>
      </ul>
      <nav>
        <div class="nav-wrapper blue darken-4">
          <%= link_to "JetApp", activities_path, class: "brand-logo navFix"%>
          <a href="#" data-activates="mobile" class="button-collapse navFix"><i class="fa fa-angle-right"></i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="<%= is_active?('/ideas/showAll') %>">
              <%= link_to showAll_path() do%>
                <!-- <i class="fa fa-home"></i> --> All Ideas
              <% end %>
            </li> 
  
            <% if user_signed_in? %>
              <li class="<%= is_active?('showProfile_path()')%>"%>
                <%= link_to showProfile_path(current_user.profileName) do %>
                  <%= current_user.profileName %>
                <%end%>
              </li>
            <%end%>

            <!-- Dropdown Trigger -->
            <li>
            <a class="dropdown-button" href="#!" data-activates="dropDownMainMenu">Account<i class="fa fa-angle-down right"></i></a>
            </li>
          </ul>
        </div>      
        <ul class="side-nav" id="mobile">
          <li class="<%= is_active?('/ideas/showAll') %>">
            <%= link_to showAll_path do%>
              All Ideas
            <% end %>
          </li>
          <li class="<%= is_active?('/ideas/showAuthorIdea') %>">
            <%= link_to '/ideas/showAuthorIdea' do%>
              My Ideas
            <% end %>
          </li>
          
          <li class="divider"></li>
          <% if user_signed_in? %>
            <li>
              <%= link_to edit_user_registration_path, :class => '' do%>
                Edit Profile
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, :class => '' do %>
                Sign Out
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            </li>
          <% end %>
        </ul>
      </nav>

      
      <div class="container bodyContainer wrapper">
        <div class="center">
        	<!-- FLASHES FOR USER ACCOUNTS: DEVISE -->
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "flash #{key}" %>
          <% end %>
        </div>
    	  <!-- All views will get placed into here.-->
    		<%= yield %>
      </div>
    </div>
	</body>
  <!-- WILL EDIT THIS LATER -->
  <footer class="page-footer blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Social Media</h5>
          <p class="grey-text text-lighten-4">We can put our 'Social Media' down here.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Dev Blog</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Site Map</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">GitHub Repo</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</html>
