<!DOCTYPE html>
<html>
	<head>
	  <title>JetApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
    <div class = "wrapper">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue lighten-1">
            <%= link_to image_tag("JetPack_Logo_White.png", :size => '187.5x75', :alt => "JetPack Logo"), index_path, class: "brand-logo navFix"%>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <% if user_signed_in? %>
                <li>
                  <%= image_tag(current_user.avatar.url(:thumb), class: "avatarThumb circle") %>  
                </li>
                <li class="<%= is_active?('showProfile_path()')%>"%>
                  <%= link_to showProfile_path(current_user.profileName) do %>
                    <h3 class="profileName"><%= current_user.profileName%></h3>
                  <%end%>
                </li>
              <%end%>
            </ul>
          </div>      
        </nav>
      </div>
      <div class="bodyContainer wrapper">
        <% if false %>
          <div class="center">
          	<!-- FLASHES FOR USER ACCOUNTS: DEVISE -->
            <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "flash #{key}" %>
            <% end %>
          </div>
        <%end%>

    		<%= yield %>

      </div>
    </div>
	</body>
</html>
